* {
  font-family: 'NunitoSans', sans-serif;
  font-size: 16px;
  box-sizing: border-box
}
body {
  color: $neutral-90;
}

// button
.btn{
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  padding: 4px 16px;
  font-size: 14px;
  &.shadow{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12) !important;
  }

  &:hover{
    color: #fff;
  }
}

// font size
@for $i from 1 through 48 {
  .s-#{$i}{
    font-size: #{$i}px
  }
}

// font weight
@for $i from 1 through 10 {
  .font-weight-#{$i}00{
    font-weight: #{$i}00
  }
}

// input
.form-control{
  border-radius: 8px;
  padding: 8px 16px;
  border: 2px solid $neutral-40;
  font-size: .875em;
  &::placeholder{
    color: $neutral-60;
  }
  &:not(:placeholder-shown){
    border-color: $primary;
  }
  transition: all .3s;
  &:focus{
    box-shadow: none;
    border: 3px solid $primary-focus;
  }
}

// board container
.board-container{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  min-height: 400px;
}

// radius
@for $i from 1 through 16 {
  .radius-#{$i}{
    border-radius: #{$i}px
  }
}

// dropdown
.dropdown{
  border-radius: 8px;
  .dropdown-menu{
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  }
  .btn::after{
    display: none;
  }
  a:hover{
    @each $variant, $value in $theme-colors {
      &.hover-#{$variant} {
        color: $value;
        background-color: transparent;
      }
    }
  }
}

// Modal box
.modal-content{
  max-width: 420px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}